# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
dist-ssr/
*.local

# Environment
.env
.env.local
.env.*.local

# Logs
pnpm-debug.log*
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# Tests
coverage/

# Vite
vite.config.ts.timestamp-*
